nvim/plugged/

gcloud

pgcli/history
pgcli/log
gcloud
gh
karabiner
configstore
yarn

pgcli/history
pgcli/log

suckless/oh-my-zsh/cache
suckless/oh-my-zsh/log
suckless/pgcli/log

suckless/bpytop/error.log

.DS_Store
swap-pane
nvim/spell/**
nvim/plugin/packer_compiled.lua

flutter

wireshark/recent_common
thefuck
asciinema

spicetify/Backup
neofetch
ranger
zathura

scripts/crawl-data/node_modules

nvim/lua-language-server

terminals/fish/functions/fundle.fish
terminals/fish/fish_variables
