nvim/plugged/

gcloud

pgcli/history
pgcli/log
gcloud
gh
suckless/mac_os/karabiner/automatic_backups/*
configstore
yarn

pgcli/history
pgcli/log

suckless/oh-my-zsh/cache
suckless/oh-my-zsh/log
suckless/pgcli/log

suckless/bpytop/error.log

.DS_Store
swap-pane
nvim/spell/**

flutter

wireshark/recent_common
thefuck
asciinema

spicetify/Backup
ranger
zathura

scripts/crawl-data/node_modules

nvim/lua-language-server

terminals/fish/functions/fundle.fish
terminals/fish/fish_variables
terminals/fish/fisherman
terminals/fish/env/credential.fish


suckless/spicetify/Extracted/
suckless/spicetify/Themes/*
suckless/mailspring

suckless/k9s/clusters
suckless/k9s/*.log

.idea

devops/vault-config/env.json
devops/vault-config/vault-seed-file-version
devops/vault-config/vault-seed.zip

lawbite_irbrc.rb
