nvim/plugged/

gcloud

coc/extensions/node_modules
coc/mru
coc/snippets-mru
coc/*.json
coc/commands
coc/explorer-actions

pgcli/history
pgcli/log
gcloud
gh
karabiner
configstore
yarn

pgcli/history
pgcli/log

suckless/oh-my-zsh/cache
suckless/oh-my-zsh/log
suckless/pgcli/log

.DS_Store
swap-pane
nvim/spell/**
nvim/plugin/packer_compiled.lua

flutter

wireshark/recent_common
thefuck
asciinema

spicetify/Backup
neofetch
ranger
kitty
zathura

bpytop/error.log
