[user]
	email = louis.nguyen@regask.com
	name = Louis Huy Nguyen
[core]
        pager = delta
	excludesfile = /Users/louishuyng/.gitignore_global
[interactive] diffFilter = delta --color-only

[delta]
    navigate = true

[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[alias]
	co = checkout
        cp = cherry-pick
	br = branch
	ci = commit
	st = status
        new = checkout -b
        compare  = diff --word-diff
        rewrite = commit --amend --no-verify
        pushf = push --force-with-lease --no-verify
        delivery = push -u origin --no-verify
        sync = pull --rebase --autostash
        hard = reset --hard
        soft = reset --soft
        lol = log --pretty='format:%C(yellow)%h%Creset - %C(green)%an%Creset, %ar : %s'
        graph = log --pretty=format:'%C(yellow)%h%Creset - %C(green)%an%Creset, %ar : %s' --graph --decorate
        change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f "
[push]
	default = current
[rebase]
	autoStash = true
[rerere]
        enabled = true

[diff]
    tool = p4merge

[merge]
    tool = p4merge

[difftool "p4merge"]
    cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$LOCAL\" \"$REMOTE\"
    path = 

[mergetool "p4merge"]
    cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
    trustExitCode = true

[includeIf "gitdir:~/.dotfiles/"]
  path = ~/.dotfiles/config/gitconfig/.personal

[includeIf "gitdir:~/LX14/repository/github.com/louishuyng"]
  path = ~/.dotfiles/config/gitconfig/.personal

[includeIf "gitdir:~/LX14/repository/github.com/regask/"]
  path = ~/.dotfiles/config/gitconfig/.regask

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
