Include ~/.orbstack/ssh/config

# Fig ssh integration. Keep at the bottom of this file.
Match all
  Include ~/.fig/ssh

Host *
    UseKeychain yes
    AddKeysToAgent yes
    IdentityFile ~/.ssh/open_source
